<ul id="gear-dropdown" class="gear-dropdown hidden">

	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<li><a class="subtitle" href="#">CSS</a></li>
			<li><a class="subtitle" href="#">HTML</a></li>
			<li><a class="subtitle" href="#">Javascript</a></li>
			<li><a class="subtitle" href="#">Ruby</a></li>
			<div class="line"></div>
			<span class="dropdown-subtitle">Help</span>
			<li ><a class="help" href="#">FAQ</a></li>
			<li ><a class="help" href="#">Contact Us</a></li>
		</ul>
	</li>
	
</ul>

	
