ul {
    display: flex;
    justify-content: space-around;
    
}

ul li a {
    color: black;
    font-size: 11px;
}

ul li a:hover {
    background: $light-gray;
    
}

.all_tab:hover{
    background: white;
    text-decoration: underline;
}

